<template name="match">
  <tr class="{{#if checked}}checked{{/if}}">
    
    <!--<input type="checkbox" checked="{{checked}}" class="toggle-checked" />-->
 
    <td>
        <span class="text">{{rd}}</span>
        <button class="delete">&times;</button>
    </td>
    <td>
    	<span class="text">{{getTeamFromId(t1)}}</span>
    </td>
    <td>
    	<span class="text">{{s1}}</span>
    </td>
    <td>
    	<span class="text">vs.</span>
    </td>
    <td>
    	<span class="text">{{getTeamFromId(t2)}}</span>
    </td>
    <td>
    	<span class="text">{{s2}}</span>
    </td>

  </tr>
</template>