<template name="match">
  <tr class="{{#if checked}}checked{{/if}}">
    
    <!--<input type="checkbox" checked="{{checked}}" class="toggle-checked" />-->
 
    <td>
        <span class="text">{{round}}</span>
        <button class="delete">&times;</button>
    </td>
    <td>
    	<span class="text">{{getTeamFromId(match_teams.[0].team)}}</span>
    </td>
    <td>
    	<span class="text">{{match_teams.[0].points}}</span>
    </td>
    <td>
    	<span class="text">vs.</span>
    </td>
    <td>
    	<span class="text">{{getTeamFromId(match_teams.[1].team)}}</span>
    </td>
    <td>
    	<span class="text">{{match_teams.[1].points}}</span>
        
    </td>

  </tr>
</template>