<template name="enterTeam">
    <div class="tabcontent">
        <header>
            <h1>Team Entry</h1>
        </header>
        <form class="new-team">
            <div>
                Team Name: <input type="text" name="team" placeholder="Team Name" tabindex="1"/>
            </div>
            <ul>
                <li> 
                    <input type="text" placeholder="Player Name" tabindex="2"/>
                </li>
                <li> 
                    <input type="text" placeholder="Player Name" tabindex="2"/>
                </li>
                <li> 
                    <input type="text" placeholder="Player Name" tabindex="2"/>
                </li>
                <li> 
                    <input type="text" placeholder="Player Name" tabindex="2"/>
                </li>
            </ul>
            <div>
                <input type="submit" value="Submit" tabindex="100" class="submit"><br>
            </div>
        </form>
    </div>
</template>
