<template name="enterMatch">
    <div class="tabcontent">
        <header>
            <h1>
                Enter Match
            </h1>
        </header>
            
        <form class="new-match">
            

            <table class="match-entry">
                <tr>
                    <th>
                        Team 1
                    </th>
                    <th>
                        Team 2
                    </th>
                </tr>
                <tr>
                    <td>                  
                        <select class="team-select" id="team1" tabindex="2">
                            <option value="" selected>Pick a Team</option>
                            {{#each teams}}
                                <option value="{{_id}}">{{teamName}}</option>
                            {{/each}}
                        </select>   
                    </td>
                    <td>
                        <select class="team-select" id="team2" tabindex="3">
                            <option value="" selected>Pick a Team</option>
                            {{#each teams}}
                                <option value="{{_id}}">{{teamName}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Score: <input type="number" name="score1" placeholder="0" tabindex="4"/>                    
                    </td>
                    <td>
                        Score: <input type="number" name="score2" placeholder="0" tabindex="5"/>   
                    </td>
                </tr>
                
                <tr>
                    <td width="50%">
                        <table class="individual-stat-table">
                            <th>
                                Player
                            </th>
                            <th>
                                TUH
                            </th>
                            <th>
                                15
                            </th>
                            <th>
                                10
                            </th>
                            <th>
                                -5
                            </th>
                            {{#each players 1}}
                                <tr>
                                    {{> playerAnswerCount}}
                                </tr>
                            {{/each}}   
                        </table>
                    </td>
                    <td width="50%">
                        <table class="individual-stat-table">
                            <th>
                                Player
                            </th>
                            <th>
                                TUH
                            </th>
                            <th>
                                15
                            </th>
                            <th>
                                10
                            </th>
                            <th>
                                -5
                            </th>
                            {{#each players 2}}
                                <tr>
                                    {{> playerAnswerCount}}
                                </tr>
                            {{/each}}   
                        </table>                      
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        Round: <input type="number" name="round" placeholder="0" tabindex="90"/>
                        <input type="submit" value="Submit" tabindex="100" class="submit">                        
                    </td>
                </tr>    
                                  
                
            </table>

        </form>
    </div>
</template>
