    <!--team tab-->
<template name="teams">
    <div id="team-container" class="tabcontent">
        <header>
            <h1>Team List</h1>
        </header>
        {{#if currentUser}}
            {{#if tournamentPermission}}
                <button class="insert" id="addTeamButton">Add Team</button>
            {{/if}}
        {{/if}} 
        <br>
        &nbsp;
        <table style="width:100%" align="center">
            <tr>
                <th>Team Name</th>
                <th>W</th>
                <th>L</th>
                <th>T</th>
                <th>%</th>
            </tr>
            {{#each teams}}
                {{> team}}
            {{/each}}
        </table>
    </div>
</template>